@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

.page {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    font-family: 'Amiri', serif;
    font-size: 1.1rem;
}
.query {
    margin-left: 15px;
    margin-right: 15px;
}

.line {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #696656, #ccc);
}

.shop-button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}

.shop-button {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #e6c1c1;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.customMarker-container {
    background-color: rgba(219, 219, 174, 0.95);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease-in-out;
    position: relative;
}
.info-container {
    background-color: rgba(235, 235, 204, 0.95);
    border-radius: 10px;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.input {
    width: 225px;
    padding: 12px 15px;
    border: 1.5px solid #e2cd11;
    border-radius: 8px;
    font-size: 0.9rem;
    color: black;
    background-color:rgb(245, 235, 223);
    outline: none;
    transition: border-color 0.2s;
}

.legend {
    font: 15px sans-serif;
    color: black;
    margin-top: 6px;
    margin-left: 10px;
}